*{
    margin: 0;
    padding: 0;
    font-family: 'Monda', sans-serif;
    text-decoration: none;
    color: #EFC3F5;
    box-sizing: border-box;
    list-style: none;
}
.navbar{
    background-color: #0F1020;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}
.navbar ul{
    display: inherit;
    align-items: inherit;
    justify-content: center;
}
.navbar li{
    margin-left: 1rem;
    margin-right: 2rem;
    font-size: 1.5rem;
    padding: 0.75rem;
    border-radius: 0.2rem;
    transition: 0.2s;
}
.navbar li:hover{
    background-color: #7353BA;
}
.container{
    background-color: #2F195F;
    margin: 5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0.3rem 0.3rem 1rem #000;
}
.container h2{
    letter-spacing: 0.1rem;
    text-shadow: 0.3rem 0.3rem 1rem #000;
    font-size: 2rem;
}
.poll-container{
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding-top: 1rem;
}
hr{
    width: 60%;
}
.vote-btn{
    margin-right: 0.7rem;
    padding: 0.7rem;
    border-radius: 7rem;
    transition: 0.5s;
}
.vote-btn:hover{
    background-color: #0F1020;
}
.result-btn{
    padding: 0.7rem;
    border-radius: 7rem;
    transition: 0.5s;
}
.result-btn:hover{
    background-color: #0F1020;
}
.create-container{
    background-color: #2F195F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin: 5rem;
    box-shadow: 0.3rem 0.3rem 1rem #000;
}
.question-container{
    margin-bottom: 1rem;
}
.question-container p{
    margin-bottom: 0.4rem;
}
.question{
    color: black;
    border: none;
    padding: 0.3rem;
}
.option{
    color: black;
    border: none;
    padding: 0.3rem;
}
.create-container h2{
    letter-spacing: 0.1rem;
    text-shadow: 0.3rem 0.3rem 1rem #000;
    font-size: 2rem;
}
.create-btn{
    margin-left: 50%;
    margin-top: 1.5rem;
    padding: 0.5rem;
    border: 0.2rem #EFC3F5 solid;
    background-color: #0F1020;
    cursor: pointer;
    transition: 0.5s;
}
.create-btn:hover{
    background-color: #EFC3F5;
    border: 0.2rem #0F1020 solid;
    color: #0f1020;
}
.vote-container{
    background-color: #2F195F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin: 5rem;
    box-shadow: 0.3rem 0.3rem 1rem #000;
}
.vote-container h3{
    letter-spacing: 0.1rem;
    text-shadow: 0.3rem 0.3rem 1rem #000;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
.votes h4{
    font-size: 1.5rem;
}
.options{
    display: flex;
    flex-direction: column;
    margin-left: 30%;
}
.options div{
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.options div input{
    transform: translateY(0.5rem);
}
.vote-btn-2{
    width: 4rem;
    margin-left: 1rem;
    margin-top: 1.5rem;
    padding: 0.5rem;
    border: 0.2rem #EFC3F5 solid;
    background-color: #0F1020;
    cursor: pointer;
    transition: 0.5s;
}
.vote-btn-2:hover{
    background-color: #EFC3F5;
    border: 0.2rem #0F1020 solid;
    color: #0f1020;
}
.result-container{
    background-color: #2F195F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin: 7rem 5rem;
    box-shadow: 0.3rem 0.3rem 1rem #000;
}
.return-btn{
    padding: 0.5rem;
    position: fixed;
    top: 5.5rem;
    left: 0.5rem;
    border: 0.2rem #EFC3F5 solid;
    background-color: #0F1020;
    font-size: 0.75rem;
    transition: 0.5s;
}
.return-btn i{
    transition: 0.5s;
}
.return-btn:hover{
    background-color: #EFC3F5;
    border: 0.2rem #0F1020 solid;
    color: #0f1020;
}
.return-btn:hover i{
    color: #0f1020;
}